In [1]:
import json

In [2]:
with open("Resources/fcc_json_broadband.json") as f:
    data = json.load(f)

In [6]:
import pandas as pd
df = pd.DataFrame(columns=["logrecno","provider_id","frn","providername","dbaname","holdingcompanyname",
                           "hoconum","hocofinal","stateabbr","blockcode","techcode","consumer","maxaddown",
                           "maxadup","business"])

In [7]:
for i in range(0,len(data)):
    currentItem = data[i]
    df.loc[i] = [data[i]["logrecno"],data[i]["provider_id"],data[i]["frn"],data[i]["providername"],data[i]["dbaname"],
                 data[i]["holdingcompanyname"],data[i]["hoconum"],data[i]["hocofinal"],data[i]["stateabbr"],data[i]["blockcode"],
                 data[i]["techcode"],data[i]["consumer"],data[i]["maxaddown"],data[i]["maxadup"],data[i]["business"]]

In [8]:
df

,logrecno,provider_id,frn,providername,dbaname,holdingcompanyname,hoconum,hocofinal,stateabbr,blockcode,techcode,consumer,maxaddown,maxadup,business
0,10586435,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679507003073,60,1,100,3,1
1,10586436,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679507003074,60,1,100,3,1
2,10586437,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679507003075,60,1,100,3,1
3,10586438,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679507003076,60,1,100,3,1
4,10586439,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679507004000,60,1,100,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,10587430,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679510002059,60,1,100,3,1
996,10587431,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679510002060,60,1,100,3,1
997,10587432,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679510002061,60,1,100,3,1
998,10587433,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679510002062,60,1,100,3,1
999,10587434,70592,0004963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",MS,280679510002063,60,1,100,3,1